
body{
  font-family: sans-serif;
}
.new-report-header{
  margin:4px;
  margin-bottom: -6px;
  color:#5dcb66;
}
.report-form {
  border: 2px solid #5dcb66;
  margin: 6px 0;
  padding: 8px;
  .save-btn{
    display: block;
    float: right;
    color:#d46262;
    text-decoration: none;
  }
  .title-input {
    min-width: 10px;
    margin:0px;
    display: inline;
    border: none;
    font-size: 20px;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
  .tags{
    display: inline;
    .add-tag-btn{
      display: inline;
      color:white;
      background-color: #207ac2;
      border-radius: 2px;
      text-decoration: none;
      font-size: 14px;
      padding:1px 2px;
      margin:1px 2px;
    }
  }
  .subhead{
    font-size: 14px;
    color:#808080;
    margin-bottom: 6px;
    .time-input{
      font-size: 14px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .students{
    font-size:14px;
    margin:2px 0;
    .add-student-btn{
      color:#207ac2;
      text-decoration: none;
      display: inline;
      margin: 0 4px;
      font-size: 16px;
    }
  }
  .notes{
    font-size: 14px;
    margin:2px 0;
    .notes-input{
      font-size: 14px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.report {
  border: 2px solid #808080;
  margin: 6px 0;
  padding: 8px;
  .edit-btn {
    display: block;
    float: right;
    color:#808080;
    text-decoration: none;
  }
  h3 {
    font-size: 20px;
    margin:4px 0;
    display: inline;
  }
  .tags{
    display: inline;
  }
  .tag{
    display: inline;
    text-decoration: none;
    color:white;
    font-size: 14px;
    background-color: #207ac2;
    border-radius: 2px;
    padding:1px 2px;
    margin:1px 2px;
  }
  .subhead {
    font-size:14px;
    color:#808080;
    margin-bottom: 6px;
  }
  strong {
    font-size: 14px;
  }
  .students{
    margin:2px 0;
    .student {
      color:#207ac2;
      text-decoration: none;
      display: inline;
      margin: 0 4px;
      font-size: 16px;
    }
  }
  .notes{
    margin:2px 0;
    font-size: 14px;
  }
}

// needed for angular ui bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
