

body{
  background-color: #093455;
  font-family: sans-serif;
  .main-body{
    margin:15px 0;
    padding:15px 15px;
    background-color: white;
    border-radius: 6px;
    h1{
      margin:4px 0;
    }
  }
}

.search-bar{
  border:1px solid gray;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 2px;
  margin-right: -5px;
  &:focus{
    outline:none;
  }
}
.search-btn{
  padding:3px 4px;
  margin-left: 0px;
  border:none;
  border-bottom-right-radius: 4px;
  border-top-right-radius:4px;
  color:white;
  background-color:black;
  &:focus{
    outline: none;
  }
}

.new-report-header{
  margin:4px;
  margin-top: 0;
  margin-bottom: -6px;
  color:#5dcb66;
}
.report-form{
  border: 2px solid #5dcb66;
  margin: 6px 0;
  padding: 8px;
  p.title-width{
    font-size: 20px;
    display: inline-block;
    white-space: pre;
  }
  p.tag-width{
    font-size: 14px;
    display: inline-block;
    white-space: pre;
  }
  p.student-width{
    font-size: 16px;
    display: inline-block;
    white-space: pre;
  }
  .save-btn{
    display: block;
    float: right;
    color:#d46262;
    text-decoration: none;
  }
  .title-input {
    min-width: 52px;
    width:52px;
    margin:0px 2px;
    display: inline;
    border: none;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
  .tags{
    display: inline;
    .add-tag-btn{
      display: inline-block;
      color:white;
      background-color: #207ac2;
      border-radius: 2px;
      text-decoration: none;
      font-size: 14px;
      padding:0px 2px;
      margin:3px 2px;
      vertical-align: top;
    }
    .form-tag{
      display: inline-block;
      vertical-align: top;
      background-color: #207ac2;
      border-radius: 2px;
      padding:0px;
      margin:3px 2px;
      vertical-align: top;
      .tag-hash{
        color:white;
        margin-left:2px;
        margin-right:-4px;
        display: inline-block;
      }
      .tag-input{
        width: 28px;
        min-width: 28px;
        display: inline-block;
        color:white;
        background-color: #207ac2;
        text-decoration: none;
        font-size: 14px;
        padding:0px;
        margin-right: 16px;
        vertical-align: top;
        border:none;
        &:focus{
          outline: none;
        }
      }
      .glyphicon-remove{
        color:white;
        margin-left:-18px;
        margin-top:2px;
        vertical-align: top;
        display: inline-block;
        cursor:pointer;
      }
    }
  }
  .subhead{
    font-size: 14px;
    color:#808080;
    margin-bottom: 6px;
    .date-input{
      display: inline;
      input{
        padding:8px;
        height:24px;
        width:64px;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid black;
        border-bottom-left-radius: 0px;
        text-align: center;
        display: inline;
      }
    }
    .time-input{
      display: inline-block;
    }
    .uib-timepicker{
      input{
        padding:0px;
        height: 24px;
        width:12px;
        border:none;
        border-radius: 0px;
        border-bottom: 1px solid black;
        box-shadow: none;
      }
      button{
        padding:0;
        margin-left: 2px;
        height: 24px;
        width:34px;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid black;
        box-shadow: none;
        &:focus{
          background-color: inherit;
          outline: none;
        }
        &:hover{
          background-color: inherit;
        }
      }
    }
    span{
      display: inline-block;
      padding:2px 2px;
      vertical-align: top;
    }
  }
  .students{
    font-size:14px;
    margin:2px 0;
    .add-student-btn{
      color:#207ac2;
      text-decoration: none;
      display: inline;
      margin: 0 4px;
      font-size: 16px;
    }
    .form-student{
      display:inline-block;
      .student-input {
        color:#207ac2;
        display: inline;
        margin: 0 4px;
        font-size: 16px;
        border:none;
        padding:0;
        width:48px;
        // min-width:48px;
        &:focus{
          outline:none;
        }
      }
      .glyphicon-remove{
        vertical-align: top;
        display: inline-block;
        margin-top:-4px;
        margin-left:-10px;
        color:#808080;;
        font-size:14px;
        padding:2px;
        cursor:pointer;
        // background-color: #207ac2;
        // border-radius: 10px;
      }
    }

  }
  .notes{
    font-size: 14px;
    margin:2px 0;
    .notes-input{
      font-size: 14px;
      border: none;
      white-space: pre-wrap;
      &:focus {
        outline: none;
      }
    }
  }
  .room{
    margin-top:2px;
    label{
      cursor: pointer;
      position: relative;
      font-weight: normal;
      margin:0 2px;
      padding:0 2px;
      font-size: 14px;
      border-radius:2px;
      color:#a2a2a2;
      background-color:black;
      &:hover{
        color:white;
      }
      input[type=radio] {
        display: none;
      }
      input[type=radio]:checked + span{
        color:white;
      }
    }
  }
}

.report {
  border: 2px solid #808080;
  margin: 6px 0;
  padding: 8px;
  .edit-btn {
    display: block;
    float: right;
    color:#808080;
    text-decoration: none;
  }
  h3 {
    font-size: 20px;
    margin:4px 0;
    display: inline;
  }
  .tags{
    display: inline;
  }
  .tag{
    display: inline-block;
    text-decoration: none;
    color:white;
    font-size: 14px;
    background-color: #207ac2;
    border-radius: 2px;
    padding:0px 2px;
    margin:0px 2px;
    vertical-align: top;
  }
  .subhead {
    font-size:14px;
    color:#808080;
    margin-bottom: 6px;
  }
  strong {
    font-size: 14px;
  }
  .room{
    margin:2px 0;
    font-size: 14px;
    color:white;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    padding:0 2px;
  }
  .students{
    margin:2px 0;
    .student {
      color:#207ac2;
      text-decoration: none;
      display: inline;
      margin: 0 4px;
      font-size: 16px;
    }
  }
  .notes{
    margin:2px 0;
    font-size: 14px;
  }
}

@media screen and (max-width : 480px){
  h1{
    font-size: 28px;
  }
}

// needed for angular ui bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
