$red-room-color: #A3372C;
$purple-room-color:#643275;
$blue-room-color:#093455;
$green-room-color:green;
$yellow-room-color:orange;

$bg-blue-color:#093455;

.navigation{
  margin:0;
  margin-bottom:8px;
  .greeting{
    p{
      font-weight: bold;
      margin-left:2px;
    }
    em{
      font-weight: lighter;
      font-style: italic;
      color:#808080;
    }
    a{
      text-decoration: none;
      &:focus{
        outline: none;
      }
    }
  }
  li{
    display:inline-block;
    margin:0;
    .filter-btn{
      font-size: 16px;
      text-align: center;
      color:white;
      text-decoration: none;
      background-color: #808080;
      padding:4px 8px;
      border-radius: 4px;
      margin:2px 0px;
      &.red{
        background-color: $red-room-color;
      }
      &.blue{
        background-color: $blue-room-color;
      }
      &.purple{
        background-color: $purple-room-color;
      }
      &.green{
        background-color: $green-room-color;
      }
      &.yellow{
        background-color: $yellow-room-color;
      }
    }
    .new-report-btn{
      font-size: 16px;
      text-align: center;
      color:white;
      text-decoration: none;
      background-color: $bg-blue-color;
      padding:4px 8px;
      border-radius: 4px;
      margin:2px 0px;
      .glyphicon-pencil{
        display: inline;
      }
    }
    .toggle-search-btn{
      font-size: 16px;
      text-align: center;
      color:white;
      text-decoration: none;
      background-color: $bg-blue-color;
      padding:4px 8px;
      border-radius: 4px;
      margin:2px 0px;
      .glyphicon-search{
        display: inline;
      }
    }
  }
}

.login-modal{
  input{
    margin:8px 0;
    display:block;
    border:none;
    border-bottom:1px solid #808080;
    &:focus{
      outline:none;
    }
  }
  button{
    font-size: 16px;
    text-align: center;
    color:white;
    text-decoration: none;
    padding:4px 8px;
    border:none;
    border-radius: 4px;
    margin:2px 0px;
    background-color: $bg-blue-color;
    &:focus{
      outline: none;
    }
  }
}
