<form>
  <a href="" class="save-btn" ng-click="cancel()">cancel</a>
  <a href="" class="save-btn" ng-click="save()">save</a>
  <input input-sizer listen="report.editing" class="title-input" placeholder="Title" ng-model="report.title" ng-trim="false" ></input>
  <!-- <tags></tags> -->
  <div class="subhead" ng-controller="DateTimePickerCtrl">
    <div class="input-group date-input">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="report.date" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()"/>
    </div>
    <span>at</span>
    <uib-timepicker class="time-input"show-spinners="false" ng-model="report.time" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
    <span>by {{report.user.username}}</span>
  </div>
  <rooms room="report.room"></rooms>
  <students students="report.students"></students>
  <div class="notes"><strong>Notes: </strong><input class="notes-input" placeholder="+notes" ng-model="report.description"></input></div>
</form>
