<nav class="navigation">
  <li>
    <a ng-click="filterReports('red')" class="filter-btn red" href="">Red</a>
  </li>
  <li>
    <a ng-click="filterReports('purple')" class="filter-btn purple" href="">Purple</a>
  </li>
  <li>
    <a ng-click="filterReports('blue')" class="filter-btn blue" href="">Blue</a>
  </li>
  <li>
    <a ng-click="searchButtonClicked()" class="toggle-search-btn" href=""><span class="glyphicon glyphicon-search"></span></a>
  </li>
  <li>
    <a ng-click="newReportClicked()" class="new-report-btn" href=""><span class="glyphicon glyphicon-pencil"></span></a>
  </li>
</nav>
